@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:300,regular,600,700,700italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1F2A67;
  line-height: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 2.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Plus Jakarta Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  position: relative;
}

.text {
  line-height: 1.5833333333;
}

.text_wide {
  max-width: 37.5rem;
}

.title {
  line-height: 1.1666666667;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header._header-scroll {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.header__logo {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.menu__body {
  position: fixed;
  top: 0;
  left: -100%;
  overflow: auto;
  padding-top: 6.25rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  padding: 0.625rem;
  border-left: 1px solid #1f2a68;
}

.menu__link:hover {
  text-decoration: underline;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.actions-header__link {
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__link:hover {
  text-decoration: underline;
}

.actions-header__link_btn {
  color: #fff;
  background-color: #00CDFF;
  border-radius: 5px;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #1f2a68;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  position: relative;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.main {
  background-color: #F9FEFF;
}

.main__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 5;
}

.main__title {
  font-weight: 700;
  line-height: 1.5;
}

.main__title span {
  color: #00CDFF;
  font-style: oblique;
}

.main__text {
  max-width: 31.25rem;
}

.main__btn {
  font-weight: 600;
  padding: 0.9375rem;
  color: #fff;
  background-color: #00CDFF;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__btn:hover {
  background-color: rgb(40, 51, 112);
}

.main__subtext {
  font-size: 1.125rem;
  font-weight: 400;
}

.main__image {
  position: absolute;
  text-align: center;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  position: relative;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__title {
  max-width: 21.875rem;
  line-height: 1.25;
  font-weight: 700;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skills__image img {
  width: 100%;
}

.skills__label {
  font-weight: 600;
}

.trusted {
  position: relative;
}

.trusted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.trusted__link {
  font-weight: 600;
  padding: 0.9375rem;
  color: #00CDFF;
}

.trusted__link:hover {
  text-decoration: underline;
}

.enrich {
  position: relative;
}

.enrich__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-enrich__image {
  overflow: hidden;
  border-radius: 5px;
  max-width: 15.625rem;
  max-height: 15.625rem;
}

.item-enrich__image img {
  width: 100%;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.item-enrich__subtitle {
  display: inline-block;
  font-weight: 600;
  padding: 0.9375rem 1.25rem;
  color: #1F2A67;
  border-radius: 44px;
  background-color: #00CDFF;
}

.item-enrich__label {
  font-weight: 600;
}

.item-enrich__text {
  max-width: 31.25rem;
}

.steps {
  position: relative;
}

.steps__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f2fcff;
  border-radius: 16px;
}

.steps__text {
  max-width: 40.625rem;
  text-align: center;
}

.steps__body {
  margin-top: -5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.card-steps {
  padding: 1.875rem;
  background-color: #00CDFF;
  border-radius: 14px;
}

.card-steps__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  color: #fff;
}

.card-steps__text {
  font-weight: 300;
}

.tasks {
  position: relative;
}

.tasks__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.column-tasks__title {
  font-weight: 600;
}

.column-tasks__subtitle:hover {
  text-decoration: underline;
}

.column-tasks__link {
  font-weight: 400;
  color: #00CDFF;
}

.column-tasks__link:hover {
  text-decoration: underline;
}

.column-tasks__btn {
  display: inline-block;
  font-weight: 400;
  color: #00CDFF;
}

.column-tasks__btn:hover {
  text-decoration: underline;
}

.contacts {
  position: relative;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00CDFF;
  border-radius: 14px;
}

.contacts__logo img {
  width: 100%;
}

.contacts__title {
  color: #fff;
}

.contacts__btn {
  display: inline-block;
  font-weight: 600;
  color: #1F2A67;
  border-radius: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__btn:hover {
  color: #fff;
  background-color: rgb(40, 51, 112);
}

.btn_light {
  background-color: #fff;
}

.btn_dark {
  color: #fff;
  background-color: #1F2A67;
}

.btn_dark:hover {
  color: rgb(40, 51, 112);
  background-color: #fff;
}

@media (min-width: 103.125em) {
  .page__main {
    padding-top: 15.625rem;
  }

  .page__main {
    padding-bottom: 12.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .title {
    font-size: 3.75rem;
  }

  .header {
    padding-top: 3.4375rem;
  }

  .header {
    padding-bottom: 3.4375rem;
  }

  .header__logo {
    width: 21.625rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  .actions-header__link {
    padding-top: 0.9375rem;
  }

  .actions-header__link {
    padding-bottom: 0.9375rem;
  }

  .actions-header__link {
    padding-right: 0.9375rem;
  }

  .actions-header__link {
    padding-left: 0.9375rem;
  }

  .actions-header__link {
    font-size: 1.625rem;
  }

  .footer {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 6.25rem;
  }

  .menu-footer__list {
    gap: 5rem;
  }

  .main__title {
    font-size: 5rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 9.0625rem;
  }

  .main__btn {
    font-size: 2rem;
  }

  .main__btn:not(:last-child) {
    margin-bottom: 9.0625rem;
  }

  .main__image img {
    max-width: 68.75rem;
  }

  .main__image img {
    max-height: 68.75rem;
  }

  .skills {
    padding-top: 9.375rem;
  }

  .skills {
    padding-bottom: 11.875rem;
  }

  .skills__title {
    font-size: 2.5rem;
  }

  .skills__items {
    gap: 3.125rem;
  }

  .skills__image {
    max-width: 6.25rem;
  }

  .skills__image {
    max-height: 6.25rem;
  }

  .skills__image:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .trusted {
    padding-top: 11.875rem;
  }

  .trusted {
    padding-bottom: 11.875rem;
  }

  .trusted__title:not(:last-child) {
    margin-bottom: 8.4375rem;
  }

  .trusted__text:not(:last-child) {
    margin-bottom: 8.4375rem;
  }

  .trusted__text p:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .trusted__link {
    font-size: 2rem;
  }

  .enrich {
    padding-top: 6.25rem;
  }

  .enrich {
    padding-bottom: 6.25rem;
  }

  .enrich__title:not(:last-child) {
    margin-bottom: 9.0625rem;
  }

  .enrich__item {
    margin-bottom: 3.75rem;
  }

  .item-enrich__image:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .item-enrich__subtitle {
    font-size: 1.5rem;
  }

  .item-enrich__subtitle:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .item-enrich__label:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .steps {
    padding-bottom: 6.25rem;
  }

  .steps__header {
    padding-bottom: 11.25rem;
  }

  .steps__header {
    padding-top: 6.25rem;
  }

  .steps__title:not(:last-child) {
    margin-bottom: 9.0625rem;
  }

  .steps__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .steps__body {
    padding-right: 3.125rem;
  }

  .steps__body {
    padding-left: 3.125rem;
  }

  .steps__body {
    gap: 1.875rem;
  }

  .card-steps__title {
    font-size: 2rem;
  }

  .card-steps__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .tasks {
    padding-top: 6.25rem;
  }

  .tasks {
    padding-bottom: 12.5rem;
  }

  .tasks__title:not(:last-child) {
    margin-bottom: 9.0625rem;
  }

  .column-tasks__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .column-tasks__list li:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .column-tasks__link {
    font-size: 1.75rem;
  }

  .column-tasks__btn {
    margin-top: 1.875rem;
  }

  .column-tasks__btn {
    font-size: 2.125rem;
  }

  .contacts {
    padding-bottom: 6.25rem;
  }

  .contacts__body {
    padding-top: 6.25rem;
  }

  .contacts__body {
    padding-bottom: 6.25rem;
  }

  .contacts__body {
    padding-right: 3.125rem;
  }

  .contacts__body {
    padding-left: 3.125rem;
  }

  .contacts__logo:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .contacts__title:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .contacts__btn {
    padding-top: 1.875rem;
  }

  .contacts__btn {
    padding-bottom: 1.875rem;
  }

  .contacts__btn {
    padding-right: 31.25rem;
  }

  .contacts__btn {
    padding-left: 31.25rem;
  }

  .contacts__btn {
    font-size: 1.5rem;
  }

  .contacts__btn:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .contacts__or:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .btn_dark:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .page__main {
    padding-top: 6.25rem;
  }

  .page__main {
    padding-bottom: 3.125rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .title {
    font-size: 2.375rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__logo {
    width: 6.25rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .actions-header__link {
    padding-top: 0.625rem;
  }

  .actions-header__link {
    padding-bottom: 0.625rem;
  }

  .actions-header__link {
    padding-right: 0.5rem;
  }

  .actions-header__link {
    padding-left: 0.5rem;
  }

  .actions-header__link {
    font-size: 1rem;
  }

  .footer {
    padding-top: 0.625rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .menu-footer__list {
    gap: 1.25rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main__btn {
    font-size: 1.125rem;
  }

  .main__btn:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main__image img {
    max-width: 20rem;
  }

  .main__image img {
    max-height: 20rem;
  }

  .skills {
    padding-top: 3.125rem;
  }

  .skills {
    padding-bottom: 3.125rem;
  }

  .skills__title {
    font-size: 1.625rem;
  }

  .skills__items {
    gap: 1.25rem;
  }

  .skills__image {
    max-width: 3.125rem;
  }

  .skills__image {
    max-height: 3.125rem;
  }

  .skills__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .trusted {
    padding-top: 3.125rem;
  }

  .trusted {
    padding-bottom: 3.125rem;
  }

  .trusted__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .trusted__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .trusted__text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .trusted__link {
    font-size: 1.125rem;
  }

  .enrich {
    padding-top: 1.25rem;
  }

  .enrich {
    padding-bottom: 1.25rem;
  }

  .enrich__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .enrich__item {
    margin-bottom: 1.875rem;
  }

  .item-enrich__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-enrich__subtitle {
    font-size: 1.125rem;
  }

  .item-enrich__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-enrich__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .steps {
    padding-bottom: 1.875rem;
  }

  .steps__header {
    padding-bottom: 6.25rem;
  }

  .steps__header {
    padding-top: 1.875rem;
  }

  .steps__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .steps__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .steps__body {
    padding-right: 1.875rem;
  }

  .steps__body {
    padding-left: 1.875rem;
  }

  .steps__body {
    gap: 1.25rem;
  }

  .card-steps__title {
    font-size: 1.5rem;
  }

  .card-steps__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .tasks {
    padding-top: 1.875rem;
  }

  .tasks {
    padding-bottom: 1.875rem;
  }

  .tasks__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .column-tasks__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .column-tasks__list li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .column-tasks__link {
    font-size: 1.125rem;
  }

  .column-tasks__btn {
    margin-top: 1.25rem;
  }

  .column-tasks__btn {
    font-size: 1.75rem;
  }

  .contacts {
    padding-bottom: 1.25rem;
  }

  .contacts__body {
    padding-top: 1.875rem;
  }

  .contacts__body {
    padding-bottom: 1.875rem;
  }

  .contacts__body {
    padding-right: 0.3125rem;
  }

  .contacts__body {
    padding-left: 0.3125rem;
  }

  .contacts__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contacts__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .contacts__btn {
    padding-top: 0.625rem;
  }

  .contacts__btn {
    padding-bottom: 0.625rem;
  }

  .contacts__btn {
    padding-right: 3.125rem;
  }

  .contacts__btn {
    padding-left: 3.125rem;
  }

  .contacts__btn {
    font-size: 1.125rem;
  }

  .contacts__btn:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contacts__or:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .btn_dark:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 77.5em) {
  .skills__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }
}

@media (max-width: 77.5625em) {
  .skills__title {
    text-align: center;
  }
}

@media (max-width: 68.75em) {
  .menu__body {
    width: 12.5rem;
    height: 100%;
  }

  .menu-open .menu__body {
    top: 0;
    left: 0;
  }

  .menu__list {
    text-align: left;
  }

  .actions-header__link {
    display: none;
  }

  .actions-header__link_btn {
    display: inline-block;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .steps__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .tasks__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 61.99875em) {
  .skills__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .enrich__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .item-enrich__image {
    margin: 0 auto;
  }

  .steps__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .menu-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .enrich__title {
    text-align: center;
  }

  .item-enrich__text {
    width: 100%;
  }

  .steps__title {
    text-align: center;
  }

  .tasks__title {
    text-align: center;
  }
}

@media (max-width: 29.99875em) {
  .main__btn {
    width: 100%;
  }

  .main__image {
    top: 80px;
  }

  .item-enrich__subtitle {
    width: 100%;
  }

  .contacts__btn {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 103.125em) {
@supports (padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem )) {
    .page__main {
      padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem )) {
    .page__main {
      padding-top: calc(6.25rem + 9.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .page__main {
      padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .page__main {
      padding-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .text {
      font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 2.375rem , 2.0441729323rem  +  1.6541353383vw , 3.75rem )) {
    .title {
      font-size: clamp( 2.375rem , 2.0441729323rem  +  1.6541353383vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.0441729323rem  +  1.6541353383vw , 3.75rem )) {
    .title {
      font-size: calc(2.375rem + 1.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .header {
      padding-top: calc(1.25rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .header {
      padding-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (width: clamp( 6.25rem , 2.5507518797rem  +  18.4962406015vw , 21.625rem )) {
    .header__logo {
      width: clamp( 6.25rem , 2.5507518797rem  +  18.4962406015vw , 21.625rem );
    }
}

@supports not (width: clamp( 6.25rem , 2.5507518797rem  +  18.4962406015vw , 21.625rem )) {
    .header__logo {
      width: calc(6.25rem + 15.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem )) {
    .menu__link {
      font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem )) {
    .menu__link {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem )) {
    .actions-header__link {
      padding-top: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem )) {
    .actions-header__link {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem )) {
    .actions-header__link {
      padding-bottom: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5498120301rem  +  0.3759398496vw , 0.9375rem )) {
    .actions-header__link {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem )) {
    .actions-header__link {
      padding-right: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem )) {
    .actions-header__link {
      padding-right: calc(0.5rem + 0.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem )) {
    .actions-header__link {
      padding-left: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.5rem , 0.3947368421rem  +  0.5263157895vw , 0.9375rem )) {
    .actions-header__link {
      padding-left: calc(0.5rem + 0.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1rem , 0.8496240602rem  +  0.7518796992vw , 1.625rem )) {
    .actions-header__link {
      font-size: clamp( 1rem , 0.8496240602rem  +  0.7518796992vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8496240602rem  +  0.7518796992vw , 1.625rem )) {
    .actions-header__link {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.7283834586rem  +  6.7669172932vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 0.625rem , -0.7283834586rem  +  6.7669172932vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.7283834586rem  +  6.7669172932vw , 6.25rem )) {
    .footer {
      padding-top: calc(0.625rem + 5.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem )) {
    .menu-footer__list {
      gap: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem )) {
    .menu-footer__list {
      gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem )) {
    .main__title {
      font-size: calc(1.875rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3477443609rem  +  4.5112781955vw , 5rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .main__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .main__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 7.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem )) {
    .main__btn {
      font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem )) {
    .main__btn {
      font-size: calc(1.125rem + 0.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .main__btn:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .main__btn:not(:last-child) {
      margin-bottom: calc(1.25rem + 7.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (max-width: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem )) {
    .main__image img {
      max-width: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem );
    }
}

@supports not (max-width: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem )) {
    .main__image img {
      max-width: calc(20rem + 48.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (max-height: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem )) {
    .main__image img {
      max-height: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem );
    }
}

@supports not (max-height: clamp( 20rem , 8.2706766917rem  +  58.6466165414vw , 68.75rem )) {
    .main__image img {
      max-height: calc(20rem + 48.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.6212406015rem  +  7.5187969925vw , 9.375rem )) {
    .skills {
      padding-top: clamp( 3.125rem , 1.6212406015rem  +  7.5187969925vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.6212406015rem  +  7.5187969925vw , 9.375rem )) {
    .skills {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .skills {
      padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .skills {
      padding-bottom: calc(3.125rem + 8.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4144736842rem  +  1.0526315789vw , 2.5rem )) {
    .skills__title {
      font-size: clamp( 1.625rem , 1.4144736842rem  +  1.0526315789vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4144736842rem  +  1.0526315789vw , 2.5rem )) {
    .skills__title {
      font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .skills__items {
      gap: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .skills__items {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (max-width: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .skills__image {
      max-width: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem );
    }
}

@supports not (max-width: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .skills__image {
      max-width: calc(3.125rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (max-height: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .skills__image {
      max-height: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem );
    }
}

@supports not (max-height: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .skills__image {
      max-height: calc(3.125rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .skills__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .skills__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .trusted {
      padding-top: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .trusted {
      padding-top: calc(3.125rem + 8.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .trusted {
      padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.0197368421rem  +  10.5263157895vw , 11.875rem )) {
    .trusted {
      padding-bottom: calc(3.125rem + 8.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem )) {
    .trusted__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem )) {
    .trusted__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 6.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem )) {
    .trusted__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2960526316rem  +  7.8947368421vw , 8.4375rem )) {
    .trusted__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 6.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .trusted__text p:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 3.4375rem )) {
    .trusted__text p:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem )) {
    .trusted__link {
      font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9144736842rem  +  1.0526315789vw , 2rem )) {
    .trusted__link {
      font-size: calc(1.125rem + 0.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .enrich {
      padding-top: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .enrich {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .enrich {
      padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .enrich {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .enrich__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .enrich__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 7.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4238721805rem  +  2.2556390977vw , 3.75rem )) {
    .enrich__item {
      margin-bottom: clamp( 1.875rem , 1.4238721805rem  +  2.2556390977vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4238721805rem  +  2.2556390977vw , 3.75rem )) {
    .enrich__item {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .item-enrich__subtitle {
      font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .item-enrich__subtitle {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__subtitle:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__label:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .item-enrich__label:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .steps {
      padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .steps {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.0469924812rem  +  6.015037594vw , 11.25rem )) {
    .steps__header {
      padding-bottom: clamp( 6.25rem , 5.0469924812rem  +  6.015037594vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.0469924812rem  +  6.015037594vw , 11.25rem )) {
    .steps__header {
      padding-bottom: calc(6.25rem + 5 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .steps__header {
      padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .steps__header {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .steps__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .steps__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 7.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .steps__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .steps__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem )) {
    .steps__body {
      padding-right: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem )) {
    .steps__body {
      padding-right: calc(1.875rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem )) {
    .steps__body {
      padding-left: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 1.5742481203rem  +  1.5037593985vw , 3.125rem )) {
    .steps__body {
      padding-left: calc(1.875rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .steps__body {
      gap: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .steps__body {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem )) {
    .card-steps__title {
      font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3796992481rem  +  0.6015037594vw , 2rem )) {
    .card-steps__title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .card-steps__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .card-steps__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .tasks {
      padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .tasks {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem )) {
    .tasks {
      padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem )) {
    .tasks {
      padding-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .tasks__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.6296992481rem  +  9.3984962406vw , 9.0625rem )) {
    .tasks__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 7.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .column-tasks__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .column-tasks__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .column-tasks__list li:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .column-tasks__list li:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9746240602rem  +  0.7518796992vw , 1.75rem )) {
    .column-tasks__link {
      font-size: clamp( 1.125rem , 0.9746240602rem  +  0.7518796992vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9746240602rem  +  0.7518796992vw , 1.75rem )) {
    .column-tasks__link {
      font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-top: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .column-tasks__btn {
      margin-top: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 1.0996240602rem  +  0.7518796992vw , 1.875rem )) {
    .column-tasks__btn {
      margin-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6597744361rem  +  0.4511278195vw , 2.125rem )) {
    .column-tasks__btn {
      font-size: clamp( 1.75rem , 1.6597744361rem  +  0.4511278195vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6597744361rem  +  0.4511278195vw , 2.125rem )) {
    .column-tasks__btn {
      font-size: calc(1.75rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .contacts {
      padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0469924812rem  +  6.015037594vw , 6.25rem )) {
    .contacts {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .contacts__body {
      padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .contacts__body {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .contacts__body {
      padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8223684211rem  +  5.2631578947vw , 6.25rem )) {
    .contacts__body {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem )) {
    .contacts__body {
      padding-right: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem )) {
    .contacts__body {
      padding-right: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem )) {
    .contacts__body {
      padding-left: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -0.3641917293rem  +  3.3834586466vw , 3.125rem )) {
    .contacts__body {
      padding-left: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .contacts__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .contacts__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9727443609rem  +  4.5112781955vw , 5.625rem )) {
    .contacts__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.9727443609rem  +  4.5112781955vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9727443609rem  +  4.5112781955vw , 5.625rem )) {
    .contacts__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem )) {
    .contacts__btn {
      padding-top: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem )) {
    .contacts__btn {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem )) {
    .contacts__btn {
      padding-bottom: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3242481203rem  +  1.5037593985vw , 1.875rem )) {
    .contacts__btn {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem )) {
    .contacts__btn {
      padding-right: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem );
    }
}

@supports not (padding-right: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem )) {
    .contacts__btn {
      padding-right: calc(3.125rem + 28.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem )) {
    .contacts__btn {
      padding-left: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem );
    }
}

@supports not (padding-left: clamp( 3.125rem , -3.6419172932rem  +  33.8345864662vw , 31.25rem )) {
    .contacts__btn {
      padding-left: calc(3.125rem + 28.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .contacts__btn {
      font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0347744361rem  +  0.4511278195vw , 1.5rem )) {
    .contacts__btn {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .contacts__btn:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8740601504rem  +  1.8796992481vw , 2.8125rem )) {
    .contacts__btn:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .contacts__or:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .contacts__or:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem )) {
    .btn_dark:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1231203008rem  +  3.7593984962vw , 5rem )) {
    .btn_dark:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}